body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.data-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.data-container2 {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.data-item {
  text-align: center;
}
.data-item2 {
  text-align: center;
}
.data-item h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.data-item2 h2 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.data-item p {
  font-size: 40px;
  font-weight: bold;
  color: #6eb7ff;
}

.data-item2 p {
  font-size: 20px;
  font-weight: bold;
  color: #6eb7ff;
}
.data-head {
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.table-toggle {
  background-color: #6eb7ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
  transition: all 0.3s;
}


.table-toggle:hover {
  background-color: #5ca8e9;
}

/* Container da tabela com scroll */
.table-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.table-container.active {
  max-height: 400px; /* Altura máxima quando expandido */
  overflow-y: auto;
}

/* Estilo da tabela */
.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th {
  background-color: #6eb7ff;
  color: white;
  padding: 12px;
  text-align: left;
  position: sticky;
  top: 0;
}

.table-container td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

/* Barra de rolagem personalizada */
.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0 10px 10px 0;
}

.table-container::-webkit-scrollbar-thumb {
  background: #6eb7ff;
  border-radius: 4px;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f5f5f5;
}
.chart-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 15px;
  max-width: 85%;
  margin: 20px auto;
}
.chart-container h1, h2 {
  color: #333;
  text-align: center;
}
